<div class="rounded-md h-full overflow-y-scroll scrollbar-hide" [ngClass]="getDynamicClass()">
    <div class="flex justify-between p-4 place-content-center">
        <div>
            <h2 class="text-lg font-medium text-gray-800">{{ data.filterType }}</h2>
        </div>
        <div>
            <button mat-icon-button class=" text-gray-600 hover:text-gray-800" (click)="closeSheet()">
                <mat-icon>close</mat-icon>
            </button>
        </div>
    </div>

    <!-- Experience Level Section -->
    <div *ngIf="data.filterType === 'Experience Level'" class="space-y-2">
        @for (experience of experienceLeve; track $index) {
        <div class="flex items-center justify-between gap-2 cursor-pointer" (click)="selectExperience(experience)">
            <span class="text-gray-700 select-none">{{ experience.experiencType }}</span>
            <mat-checkbox [checked]="experience.model" (click)="$event.stopPropagation()"></mat-checkbox>
        </div>
        }
    </div>

    <!-- Freshness Section -->
    <div *ngIf="data.filterType === 'Freshness'" class="space-y-2">
        @for (freshness of freshenessLeve; track $index) {
        <div class="flex items-center justify-between gap-2 cursor-pointer" (click)="selectFreshness(freshness)">
            <span class="text-gray-700 select-none">{{ freshness.freshenessType }}</span>
            <mat-checkbox [checked]="freshness.model" (click)="$event.stopPropagation()"></mat-checkbox>
        </div>
        }
    </div>

    <!-- Job Role Section -->
    <div *ngIf="data.filterType === 'Job Roles'" [ngClass]="{
        'h-full': data.filterType === 'Job Roles',
        'md:h-[calc(100vh-50px)]': data.filterType === 'Job Roles',
      }" class="space-y-2 overflow-y-scroll scrollbar-hide">
        <div class="flex p-4 ">
            <div
                class="grid justify-center px-3 place-items-center text-gray-500 bg-white rounded-l-lg border-r-4 border-gray-200">
                <mat-icon>search</mat-icon>
            </div>
            <input type="search" [(ngModel)]="searchRole" placeholder="Search job role, eg: Accountant"
                class="w-full p-3 text-base font-normal focus:outline-none rounded-r-lg ">
        </div>
        <ng-container *ngIf="filteredRoles().length > 0; else noResults">
            <cdk-virtual-scroll-viewport itemSize="30" class="h-96 w-full">
                <div (click)="selectRole(role)" class="flex items-center justify-between gap-2 cursor-pointer p-2"
                    *cdkVirtualFor="let role of filteredRoles()">
                    <span class="text-gray-700 select-none">{{ role }}</span>
                    <mat-checkbox [checked]="selectedRoles.includes(role)"
                        (click)="$event.stopPropagation()"></mat-checkbox>
                </div>
                
                <div class="sticky bottom-0 index bg-[#F4F3F6] w-full">
                    <button class="w-full" (click)="logSelectedRoles()" mat-raised-button>Select Role</button>
                </div>
            </cdk-virtual-scroll-viewport>
        </ng-container>
        <ng-template #noResults>
            <div class="flex flex-col justify-center items-center  py-6">
                <img src="assets/SearchNotFound.svg" alt="No roles found" class="w-44 h-44 object-contain" />
                <p class="text-gray-500 mt-4">No roles found</p>
            </div>
        </ng-template>
    </div>


    <!-- Job City Section -->
    <div *ngIf="data.filterType === 'Job City'" [ngClass]="{
        'h-full': data.filterType === 'Job City',
        'md:h-[calc(100vh-50px)]': data.filterType === 'Job City',
      }" class="space-y-2 overflow-y-scroll scrollbar-hide">
        <div class="flex p-4 ">
            <div
                class="grid justify-center px-3 place-items-center text-gray-500 bg-white rounded-l-lg border-r-4 border-gray-200">
                <mat-icon>search</mat-icon>
            </div>
            <input type="search" [(ngModel)]="searchLocation" placeholder="Search job role, eg: Accountant"
                class="w-full p-3 text-base font-normal focus:outline-none rounded-r-lg ">
        </div>
        <ng-container *ngIf="filteredLocation().length > 0; else noResults">
            <cdk-virtual-scroll-viewport itemSize="30" class="h-96 w-full">
                <div (click)="selectLocation(location)"
                    class="flex items-center justify-between gap-2 cursor-pointer p-2"
                    *cdkVirtualFor="let location of filteredLocation()">
                    <span class="text-gray-700 select-none">{{ location }}</span>
                    <mat-checkbox [checked]="selectedLocations.includes(location)"
                        (click)="$event.stopPropagation()"></mat-checkbox>
                </div>

                <div class="sticky bottom-0 index bg-[#F4F3F6] w-full">
                    <button class="w-full" (click)="logSelectedRoles()" mat-raised-button>Select Role</button>
                </div>
            </cdk-virtual-scroll-viewport>
        </ng-container>
        <ng-template #noResults>
            <div class="flex flex-col justify-center items-center  py-6">
                <img src="assets/SearchNotFound.svg" alt="No roles found" class="w-44 h-44 object-contain" />
                <p class="text-gray-500 mt-4">No city found</p>
            </div>
        </ng-template>
    </div>

    <!-- Salary Section -->
    <div *ngIf="data.filterType === 'Salary'" class="space-y-2 p-4">
        <label class="block text-base font-medium text-gray-700">Salary Scale</label>
        <div class="flex gap-3">
            @for(unit of units; track $index){

            <button mat-button (click)="selectUnit(unit)" [ngClass]="{
                    'bg-green-600 text-white shadow-md': selectedUnit === unit,
                    'border border-green-300 text-gray-600': selectedUnit !== unit
                }" class="rounded px-4 py-2 transition">
                {{ unit }}
            </button>
            }
        </div>

        <div class="relative w-full">
            <!-- Label Track -->
            <div class="flex justify-between px-2 text-sm text-gray-600 absolute top-0 left-0 right-0 z-10">
                <span>{{ formatLabel(startValue) }}</span>
                <span>{{ formatLabel(endValue) }}</span>
            </div>
            <!-- Slider -->
            <mat-slider class="w-full mt-6" [min]="0" [max]="99" [step]="10">
                <input [(ngModel)]="startValue" matSliderStartThumb />
                <input [(ngModel)]="endValue" matSliderEndThumb />
            </mat-slider>
        </div>



    </div>
</div>