<section>
    <div>
        <h1 class="text-gray-800 text-lg md:text-2xl font-semibold md:font-bold md:tracking-wide">Jobs</h1>
        <div class="grid grid-cols-2 md:grid-cols-4 gap-3 py-2.5">
            <div
                class="flex justify-between cursor-pointer bg-white p-3 rounded-lg shadow-metric hover:shadow-xl transition ease-in-out delay-150 duration-300">
                <div>
                    <p class="text-gray-400 text-sm font-medium">Created</p>
                    <h2 class="text-[#10316B] text-xl font-bold">500</h2>
                </div>
                <div>
                    <mat-icon class="text-gray-400">chevron_right</mat-icon>
                </div>
            </div>
            <div
                class="flex justify-between cursor-pointer bg-white p-3 rounded-lg shadow-metric hover:shadow-xl transition ease-in-out delay-150 duration-300">
                <div>
                    <p class="text-gray-400 text-sm font-medium">Positions</p>
                    <h2 class="text-[#27B1BE] text-xl font-bold">200</h2>
                </div>
                <div>
                    <mat-icon class="text-gray-400">chevron_right</mat-icon>
                </div>
            </div>
            <div
                class="flex justify-between cursor-pointer bg-white p-3 rounded-lg shadow-metric hover:shadow-xl transition ease-in-out delay-150 duration-300">
                <div>
                    <p class="text-gray-400 text-sm font-medium">Posted</p>
                    <h2 class="text-[#FDB44B] text-xl font-bold">10</h2>
                </div>
                <div>
                    <mat-icon class="text-gray-400">chevron_right</mat-icon>
                </div>
            </div>
            <div
                class="flex justify-between cursor-pointer bg-white p-3 rounded-lg shadow-metric hover:shadow-xl transition ease-in-out delay-150 duration-300">
                <div>
                    <p class="text-gray-400 text-sm font-medium">Bookmarked</p>
                    <h2 class="text-[#0175A2] text-xl font-bold">5</h2>
                </div>
                <div>
                    <mat-icon class="text-gray-400">chevron_right</mat-icon>
                </div>
            </div>
            <div
                class="flex justify-between cursor-pointer bg-white p-3 rounded-lg shadow-metric hover:shadow-xl transition ease-in-out delay-150 duration-300">
                <div>
                    <p class="text-gray-400 text-sm font-medium">All</p>
                    <h2 class="text-[#10316B] text-xl font-bold">500</h2>
                </div>
                <div>
                    <mat-icon class="text-gray-400">chevron_right</mat-icon>
                </div>
            </div>
            <div
                class="flex justify-between cursor-pointer bg-white p-3 rounded-lg shadow-metric hover:shadow-xl transition ease-in-out delay-150 duration-300">
                <div>
                    <p class="text-gray-400 text-sm font-medium">Active</p>
                    <h2 class="text-[#27B1BE] text-xl font-bold">200</h2>
                </div>
                <div>
                    <mat-icon class="text-gray-400">chevron_right</mat-icon>
                </div>
            </div>
            <div
                class="flex justify-between cursor-pointer bg-white p-3 rounded-lg shadow-metric hover:shadow-xl transition ease-in-out delay-150 duration-300">
                <div>
                    <p class="text-gray-400 text-sm font-medium">InActive</p>
                    <h2 class="text-[#F04438] text-xl font-bold">10</h2>
                </div>
                <div>
                    <mat-icon class="text-gray-400">chevron_right</mat-icon>
                </div>
            </div>
            <div
                class="flex justify-between cursor-pointer bg-white p-3 rounded-lg shadow-metric hover:shadow-xl transition ease-in-out delay-150 duration-300">
                <div>
                    <p class="text-gray-400 text-sm font-medium">Closed</p>
                    <h2 class="text-[#21A14B] text-xl font-bold">5</h2>
                </div>
                <div>
                    <mat-icon class="text-gray-400">chevron_right</mat-icon>
                </div>
            </div>
        </div>
    </div>
    <div>
        <h1 class="text-gray-800 text-lg md:text-2xl font-semibold md:font-bold md:tracking-wide py-2">Candidates</h1>
        <div class="grid grid-cols-2 md:grid-cols-4 gap-3 py-2.5">
            <div
                class="cursor-pointer bg-white p-3 rounded-lg shadow-metric hover:shadow-xl transition ease-in-out delay-150 duration-300">
                <div>
                    <p class="text-gray-400 text-sm font-medium">Sourced</p>
                    <h2 class="text-[#0175A2] text-xl font-bold">500</h2>
                </div>
            </div>
            <div
                class="cursor-pointer bg-white p-3 rounded-lg shadow-metric hover:shadow-xl transition ease-in-out delay-150 duration-300">
                <div>
                    <p class="text-gray-400 text-sm font-medium">Applied</p>
                    <h2 class="text-[#5D6B98] text-xl font-bold">200</h2>
                </div>
            </div>
            <div
                class="cursor-pointer bg-white p-3 rounded-lg shadow-metric hover:shadow-xl transition ease-in-out delay-150 duration-300">
                <div>
                    <p class="text-gray-400 text-sm font-medium">Shortlisted</p>
                    <h2 class="text-[#5925DC] text-xl font-bold">10</h2>
                </div>
            </div>
            <div
                class="cursor-pointer bg-white p-3 rounded-lg shadow-metric hover:shadow-xl transition ease-in-out delay-150 duration-300">
                <div>
                    <p class="text-gray-400 text-sm font-medium">Close</p>
                    <h2 class="text-[#0175A2] text-xl font-bold">5</h2>
                </div>
            </div>
        </div>
    </div>
</section>