<div class="grid gap-4">
    <div class="p-5 bg-white rounded-lg shadow-md flex flex-col gap-4">
        <div class="flex justify-center place-items-center">
            <svg width="81" height="95" viewBox="0 0 81 95" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path
                    d="M40.5 0.5L0.5 17.5909V43.2273C0.5 66.9409 17.5667 89.1164 40.5 94.5C63.4333 89.1164 80.5 66.9409 80.5 43.2273V17.5909L40.5 0.5ZM40.5 47.4573H71.6111C69.2556 65.0609 57.0333 80.7418 40.5 85.6555V47.5H9.38889V23.1455L40.5 9.85727V47.4573Z"
                    fill="#6941C6" />
            </svg>
        </div>
        <h1 class="text-center text-gray-800 text-base font-bold tracking-wide">Job Portal Security Center</h1>
        <p class="text-gray-600 text-sm text-justify">We are dedicated to ensuring that your job search is secure and
            free of any fraudulent activities. Nonetheless, we advise you to exercise caution when receiving suspicious
            emails or phone calls.
            <span class="text-[#0175A2] font-semibold">Know More</span>
        </p>
    </div>
</div> 