<section>
    <div class="p-4">
        <div class="gird gap-4">
            <div class="flex items-center gap-3">
                <mat-icon class="text-[#21A14B]">person_alert</mat-icon>
                <h1 class="text-base md:text-lg font-semibold">About Me</h1>
            </div>
            <div class="grid grid-cols-1 gap-3 pt-3">
                <div>
                    <div class="rounded-lg border-2 border-gray-200 p-2 ">
                        <div class="flex gap-3 items-center">
                            <div>
                                <img class="h-10 w-14 md:w-10" src="assets/seeker/summary_image.png"
                                    alt="summary_image" />
                            </div>
                            <div>
                                <h2 class="text-sm md:text-base font-medium text-gray-700">Write a summary to highlight
                                    your personality or work experience</h2>
                            </div>
                        </div>
                        <div>
                            <p class="text-gray-500 p-1 text-sm md:text-base font-normal">Members who include a summary
                                will highlight profile to top companies recruiters </p>
                        </div>
                        <div class="pt-2">
                            <button mat-stroked-button>Add Summary</button>
                        </div>
                    </div>
                    <div class="hidden">
                        <div class="flex justify-between text-gray-700">
                            <h3 class="text-sm md:text-base font-medium">Summary</h3>
                            <mat-icon class="cursor-pointer" matTooltip="Edit Summary">edit</mat-icon>
                        </div>
                        <p class="text-xs md:text-sm font-normal text-gray-500 text-justify pt-2">Lorem ipsum dolor sit
                            amet, ConnectEDU advising elite, used do aimed temper incident out
                            labor et Dolores magma clique. Ut denim ad minim venial, quit nostrum excitation Alamo
                            laborsNiseiii Ut liquid ex ea commode consequent.</p>
                    </div>
                </div>
                <div>
                    <h3 class="text-sm md:text-base font-medium text-gray-700 mt-2 hidden">Uploaded Resumes</h3>
                    <div class="rounded-lg border-2 border-gray-200 p-2 ">
                        <div class="flex gap-3 items-center">
                            <div>
                                <img class="h-10 w-14 md:w-10" src="assets/seeker/resume_image.png"
                                    alt="resume_image" />
                            </div>
                            <div>
                                <h2 class="text-sm md:text-base font-medium text-gray-700">Upload a resume to boost your
                                    profile and get placed in Top Companies</h2>
                            </div>
                        </div>
                        <div>
                            <p class="text-gray-500 p-1 text-sm md:text-base font-normal">Don’t have resume ? Create
                                resume with jobcheck </p>
                        </div>
                        <div class="pt-2 flex gap-4">
                            <button mat-flat-button>Upload Resume</button>
                            <button mat-stroked-button>Create Resume</button>
                        </div>
                    </div>
                    <div class="hidden">
                        <div
                            class="flex justify-between items-center mt-2 p-3 bg-yellow-50 rounded-lg border-2 border-yellow-100">
                            <div class="flex items-center gap-3">
                                <div>
                                    <img class="h-10 w-14 md:w-10" src="assets/seeker/resume_image.png"
                                        alt="resume_image" />
                                </div>
                                <div>
                                    <h3 class="text-sm md:text-base font-medium text-gray-700">File Resume Uploaded</h3>
                                    <p class="text-xs md:text-sm font-normal text-gray-500">my resume.pdf</p>
                                </div>
                            </div>
                            <div>
                                <mat-icon class="cursor-pointer text-gray-600">arrow_forward_ios</mat-icon>
                            </div>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="rounded-lg border-2 border-gray-200 p-2 ">
                        <div class="flex gap-3 items-center">
                            <div>
                                <img class="h-10" src="assets/seeker/video_resume_image.png" alt="video_resume_image" />
                            </div>
                            <div>
                                <h2 class="text-sm md:text-base font-medium text-gray-700">Take a video resume to Make a
                                    lasting impression and Stand out from the crowd</h2>
                            </div>
                        </div>
                        <div>
                            <p class="text-gray-500 p-1 text-sm md:text-base font-normal">Members who include a video
                                Resume will be noticed and hired faster.</p>
                        </div>
                        <div class="pt-2 flex gap-4">
                            <button mat-stroked-button>Add Video Resume</button>
                        </div>
                    </div>
                    <div class="hidden">
                        <div
                            class="flex justify-between items-center  p-3 bg-teal-50 rounded-lg border-2 border-teal-100">
                            <div class="flex items-center gap-3">
                                <div>
                                    <img class="h-10 w-14 md:w-10" src="assets/seeker/video_upload_image.png"
                                        alt="video_upload_image" />
                                </div>
                                <div>
                                    <h3 class="text-sm md:text-base font-medium text-gray-700">File Resume Uploaded</h3>
                                    <p class="text-xs md:text-sm font-normal text-gray-500">my resume.pdf</p>
                                </div>
                            </div>
                            <div>
                                <mat-icon class="cursor-pointer text-gray-600">arrow_forward_ios</mat-icon>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>