<section>
    <div class="p-4">
        <div class="flex justify-between gap-4">
            <div class="flex items-center gap-3">
                <mat-icon class="text-[#21A14B]">menu_book</mat-icon>
                <h1 class="text-base md:text-lg font-semibold">Primary Skills (1)</h1>
            </div>
            <div class="flex gap-3 text-gray-600">
                <mat-icon matTooltip="Add" class="cursor-pointer">add</mat-icon>
                <mat-icon matTooltip="Edit" class="cursor-pointer">edit</mat-icon>
            </div>
        </div>
        <div class="flex flex-wrap gap-3 pt-2">
            <div *ngFor="let skill of skills; let i = index"
                class="bg-gray-100 px-4 md:px-7 py-0.5 text-gray-600 rounded-md shadow-sm">
                <p class="text-center text-xs md:text-base font-normal">{{ skill.name }}</p>
            </div>
        </div>
        <div class="grid grid-cols-1 md:grid-cols-2 gap-3 pt-2">
            <div *ngFor="let skill of skills" class="text-gray-600">
                <p class="text-start text-base md:text-lg font-medium">{{ skill.name }}</p>
                <div class="w-full bg-gray-200 rounded-full h-1 md:h-1.5 mt-1">
                    <div class="h-1 md:h-1.5 rounded-full" [ngStyle]="{ width: (skill.percentage * 10) + '%' }" [ngClass]="{
          'bg-red-500': skill.percentage * 10 < 60,
          'bg-yellow-500': skill.percentage * 10 >= 60 && skill.percentage * 10 < 90,
          'bg-green-500': skill.percentage * 10 >= 90
        }" role="progressbar" [attr.aria-valuenow]="skill.percentage" aria-valuemin="0" aria-valuemax="10"></div>
                </div>
            </div>
        </div>
    </div>

</section>