<!-- <div class="bg-gray-200 w-full h-2"></div> -->
<app-basic-details />
<div class="bg-gray-200 w-full h-2"></div>
<app-about-me />
<div class="bg-gray-200 w-full h-2"></div>
<app-job-prefrence />
<div class="bg-gray-200 w-full h-2"></div>
<app-work-experience />
<div class="bg-gray-200 w-full h-2"></div>
<app-education />
<div class="bg-gray-200 w-full h-2"></div>
<app-primary-skills />
<div class="bg-gray-200 w-full h-2"></div>
<app-other-skills />
<div class="bg-gray-200 w-full h-2"></div>
<app-cerification />