<mat-toolbar style="background-color: #D7E3FF; position: fixed; top: 0; left: 0; width: 100%; z-index: 999;">

    <span class="cursor-pointer" routerLink="/">Job Portal</span>
    <span class="example-spacer"></span>
    <div class="flex gap-1">
        <!-- <button mat-raised-button routerLink="/login">
            Login
            <mat-icon>login</mat-icon>
        </button>
        <button mat-flat-button >
            Employeer Login
            <mat-icon>how_to_register</mat-icon>
        </button> -->
        <button mat-icon-button [matMenuTriggerFor]="menu">
            <mat-icon>more_vert</mat-icon>
        </button>
    </div>
    <mat-menu #menu="matMenu">
        <button mat-menu-item routerLink="/seeker"><mat-icon>person</mat-icon>Job Seeker</button>
        <button mat-menu-item routerLink="/recuriter"><mat-icon>manage_accounts</mat-icon>Recuriter</button>
        <button mat-menu-item><mat-icon>admin_panel_settings</mat-icon>Admin</button>
    </mat-menu>
</mat-toolbar>