<!-- <div class="grid justify-center place-content-center h-[100vh] p-2">

    <mat-card class="md:w-full">
        <div mat-dialog-title
            class="bg-[#D7E3FF] flex place-content-center pb-2 text-lg font-medium mb-10 rounded-t-lg">
            <mat-card-header>
                <mat-icon>person</mat-icon>
                Recuriter Sign Up
            </mat-card-header>
        </div>
        <form [formGroup]="signUpForm" (ngSubmit)="onFormSubmit()">
            <mat-card-content>
                <div class="grid grid-cols-2 gap-5">
                    <mat-form-field>
                        <mat-label>Email</mat-label>
                        <input matInput type="text" formControlName="email" required />
                        <mat-error *ngIf="signUpForm.controls['email'].hasError('required')">Please enter your
                            email.</mat-error>
                        <mat-error *ngIf="signUpForm.controls['email'].hasError('pattern')">Please enter valid
                            email.</mat-error>
                    </mat-form-field>
                    <mat-form-field>
                        <mat-label>Password</mat-label>
                        <input matInput [type]="showPassword ? 'text' : 'password'" formControlName="password" />
                        <button class="relative" (click)="togglePasswordVisibility()">
                            <span class="absolute right-0 bottom-0 -top-5">
                                <mat-icon>{{ showPassword ? 'visibility_off' : 'visibility' }}</mat-icon>
                            </span>
                        </button>
                        <mat-error *ngIf="signUpForm.controls['password'].hasError('required')">Please enter your
                            password.</mat-error>
                        <mat-error *ngIf="signUpForm.controls['password'].hasError('minlength')">Please enter minimum 8
                            digit.</mat-error>
                    </mat-form-field>
                </div>
                <div class="grid grid-cols-2 gap-5">
                    <mat-form-field>
                        <mat-label>Phone</mat-label>
                        <input matInput type="text" formControlName="phone" (keypress)="validateNumber($event)"
                            maxlength="10" />
                        <mat-error *ngIf="signUpForm.controls['phone'].hasError('required')">Please enter your
                            phone number.</mat-error>
                        <mat-error *ngIf="signUpForm.controls['phone'].hasError('minlength')">Please enter minimum 10
                            digit.</mat-error>
                        <mat-error *ngIf="signUpForm.controls['phone'].hasError('maxlength')">Please enter maximum 10
                            digit.</mat-error>
                        <mat-error *ngIf="signUpForm.controls['phone'].hasError('pattern')">
                            Only numbers are allowed.
                        </mat-error>
                    </mat-form-field>
                    <mat-form-field>
                        <mat-label>Pin/Zip Code</mat-label>
                        <input matInput type="text" formControlName="pincode" maxlength="6" />
                        <mat-error *ngIf="signUpForm.controls['pincode'].hasError('required')">Please enter your
                            pin code.</mat-error>
                        <mat-error *ngIf="signUpForm.controls['pincode'].hasError('minlength')">Please enter minimum 6
                            digit.</mat-error>
                        <mat-error *ngIf="signUpForm.controls['pincode'].hasError('maxlength')">Please enter maximum 6
                            digit.</mat-error>
                    </mat-form-field>
                </div>
                <div class="grid grid-cols-2 gap-5">
                    <mat-form-field>
                        <mat-label>Select DOB</mat-label>
                        <input matInput [max]="maxDate" [matDatepicker]="picker" formControlName="dob">
                        <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-datepicker #picker></mat-datepicker>
                        <mat-error *ngIf="signUpForm.controls['dob'].hasError('required')">Please select your date of birth.</mat-error>
                    </mat-form-field>
                    <mat-form-field>
                        <mat-label>Select City</mat-label>
                        <mat-select formControlName="city">
                            <mat-option value="Lucknow">Lucknow</mat-option>
                            <mat-option value="Kanpur">Kanpur</mat-option>
                        </mat-select>
                        <mat-error *ngIf="signUpForm.controls['city'].hasError('required')">Please select your city.</mat-error>
                    </mat-form-field>
                </div>
                <div class="grid grid-cols-2 gap-5">
                    <mat-form-field>
                        <mat-label>Select State</mat-label>
                        <mat-select formControlName="state">
                            <mat-option value="delhi">Delhi</mat-option>
                            <mat-option value="noida">Noida</mat-option>
                        </mat-select>
                        <mat-error *ngIf="signUpForm.controls['state'].hasError('required')">Please select you state.</mat-error>
                    </mat-form-field>
                    <mat-form-field>
                        <mat-label>Select Country</mat-label>
                        <mat-select formControlName="country">
                            <mat-option value="India">India</mat-option>
                            <mat-option value="Nepal">Nepal</mat-option>
                        </mat-select>
                        <mat-error *ngIf="signUpForm.controls['country'].hasError('required')">Please select your country.</mat-error>
                    </mat-form-field>
                </div>
            </mat-card-content>

            <mat-card-actions>
                <div class="flex justify-between gap-2">
                    <div>
                        <button type="submit" mat-flat-button color="primary">Sign Up</button>
                    </div>
                    <div>
                        <a routerLink="/recuriter/login" class="whitespace-nowrap" mat-flat-button
                            style="background-color: #d7e3ff; color: black;">Login</a>
                    </div>
                </div>
            </mat-card-actions>
        </form>
    </mat-card>
</div> -->


<section class="grid grid-cols-1 md:grid-cols-2">
  <div>
    <app-recuriter-login-side-image [imageText]="imageText" />
  </div>
  <form [formGroup]="signUpForm" class="p-5 py-20 md:py-10 md:p-14">
    <div class="grid gap-4">
      <h1 class="bg-gradient-to-r from-blue-500 to-green-500 bg-clip-text text-transparent text-2xl font-bold">
        Job Portal Logo
      </h1>
      <div class="">
        <h1 class="text-gray-800 text-lg font-semibold">
          Create Account
        </h1>
        <p class="text-gray-400 text-sm md:text-base font-normal">Please provide below detials to create account.</p>
      </div>
      <div class="overflow-auto">
        <label for="pan" class="text-sm md:text-base font-medium text-gray-600">Your Pan Card Number</label>
        <input id="pan" formControlName="pan" type="text" placeholder="pqrmn1234z"
          class="w-full rounded-lg border-2 uppercase border-gray-200 focus:outline-none px-3 py-2 text-gray-600 text-sm md:text-base font-normal">
        <div *ngIf="signUpForm.get('pan')?.touched && signUpForm.get('pan')?.invalid" class="text-red-500 text-sm">
          <div *ngIf="signUpForm.get('pan')?.errors?.['required']">Email is required.</div>
        </div>
      </div>
      <div class="">
        <label for="dob" class="text-sm md:text-base font-medium text-gray-600">Date of Birth</label>
        <input id="dob" formControlName="dob" type="date" [max]="maxDate"
          class="w-full rounded-lg border-2 border-gray-200 focus:outline-none px-3 py-2 text-gray-600 text-sm md:text-base font-normal">
        
        <div *ngIf="signUpForm.get('dob')?.touched && signUpForm.get('dob')?.invalid"
          class="text-red-500 text-sm">
          <div *ngIf="signUpForm.get('dob')?.errors?.['required']">Password is required.</div>
        </div>
      </div>
      <div>
        <button matRipple [ngClass]="{'bg-green-600': signUpForm.valid,'bg-gray-400': signUpForm.invalid}" (click)="onFormSubmit()"
          class="py-1.5 text-white text-sm md:text-base font-normal w-full rounded-lg shadow hover:shadow-md"
          type="submit">Verify & Proceed</button>
      </div>
      <div>
        <p class="text-start md:text-center text-gray-500 text-sm md:text-base font-normal">Already have an Account ?
          <a routerLink="/recuriter/login" class="text-green-600 font-medium ">Create an Account</a>
        </p>
      </div>
    </div>
  </form>
</section>