<router-outlet />
<div *ngIf="!isOnline"
    class="fixed inset-0 z-50 flex flex-col items-center justify-center bg-red-100 text-yellow-800 text-center p-4 sm:p-6 md:p-8">
    <div class="text-4xl mb-4">⚠️</div>
    <h2 class="text-xl font-semibold mb-2">You're Offline</h2>
    <p class="text-sm md:text-base">Please check your internet connection.</p>
    <button (click)="openNetworkSettings()"
        class="bg-red-500 hover:bg-red-600 text-white font-semibold py-2 px-4 rounded transition">
        Open Network Settings
    </button>
</div>