<mat-toolbar class="!px-2 md:!px-10"
    style="background-color: #D7E3FF; position: sticky; top: 0; left: 0; width: 100%; z-index: 999;">

    <div class="flex gap-3 justify-center place-items-center">
        <div class="cursor-pointer block md:hidden">
            @if(isMenuOpen){
            <button (click)="toggleMenu()" mat-icon-button>
                <mat-icon>close</mat-icon>
            </button>
            }@else{
            <button (click)="toggleMenu()" mat-icon-button>
                <mat-icon>menu</mat-icon>
            </button>
            }
        </div>
        <span class="cursor-pointer" routerLink="/seeker/layout/dashboard">Job Portal</span>
    </div>
    <span class="example-spacer"></span>
    <div class="flex gap-1">
        <button mat-icon-button [matMenuTriggerFor]="menu">
            <img class="h-10 w-10" src="assets/profile/profile_image.png" alt="profile image">
        </button>
    </div>
    <mat-menu #menu="matMenu">
        <button mat-menu-item ><mat-icon>person</mat-icon>Profile</button>
        <button mat-menu-item (click)="logOut()"><mat-icon>logout</mat-icon>Log Out</button>
    </mat-menu>
</mat-toolbar>
<div class="px-0 md:px-10 bg-gray-200">
    <mat-drawer-container autosize class="drawerContainer">
        <!-- Sidebar Drawer (Hidden for Promoted Jobs Route) -->
        <mat-drawer *ngIf="isMenuOpen" class="example-sidenav sideMenu otherClass" 
            #drawer [opened]="isMenuOpen" [disableClose]="drawerMode === 'over'" [mode]="drawerMode" position="start">
            <app-sidebar />
        </mat-drawer>
    
        <!-- Main Content -->
        <mat-drawer-content class="drawerContent">
            <div>
                <router-outlet />
            </div>
        </mat-drawer-content>
    
        <!-- Advertisement Drawer (Hidden for Promoted Jobs Route) -->
        <mat-drawer *ngIf="isMenuOpen && advertisement" [opened]="advertisement" 
            [mode]="drawerMode" position="end" class="example-sidenav advertisement">
            add
        </mat-drawer>
    </mat-drawer-container>
    

</div>