<section class="px-1 py-2.5">
    <div class="flex gap-3 overflow-x-auto scroll-container">
        <button [ngClass]="{ 'bg-[#0175A2] text-white border-none': selectedPeriod === 'Your Team (10)' }"
            (click)="selectPeriod('Your Team (10)')"
            class="whitespace-nowrap px-4 py-1.5 rounded-lg border-2 border-gray-200">Your Team (10)</button>
        <button [ngClass]="{ 'bg-[#0175A2] text-white border-none': selectedPeriod === 'Active Requirements (23)' }"
            class="whitespace-nowrap px-4 py-1.5 rounded-lg border-2 border-gray-200"
            (click)="selectPeriod('Active Requirements (23)')">Active Requirements (23)</button>
        <button [ngClass]="{ 'bg-[#0175A2] text-white border-none': selectedPeriod === 'Team Matrix' }"
            class="whitespace-nowrap px-4 py-1.5 rounded-lg border-2 border-gray-200"
            (click)="selectPeriod('Team Matrix')">Team Matrix</button>
    </div>
    <div>
        <div *ngIf="selectedPeriod === 'Your Team (10)'" class="mt-2.5 grid grid-cols-1 md:grid-cols-2 gap-4">
            <div *ngFor="let recruiter of recruiters"
                class="p-3 rounded-lg shadow-metric hover:shadow-2xl bg-white transition ease-in-out delay-150 duration-300">
                <div class="flex gap-3 cursor-pointer">
                    <div class="w-1/4">
                        <div class="grid justify-center">
                            <img [src]="recruiter.image" class="h-10 w-10 rounded-full" alt="Recuriter Image">
                        </div>
                        <div class="grid justify-center pt-3 relative" id="chart">
                            <apx-chart [series]="getChartOptions(recruiter.chartValue).series"
                                [chart]="getChartOptions(recruiter.chartValue).chart"
                                [plotOptions]="getChartOptions(recruiter.chartValue).plotOptions"
                                [fill]="getChartOptions(recruiter.chartValue).fill"
                                [colors]="getChartOptions(recruiter.chartValue).colors"
                                [dataLabels]="getChartOptions(recruiter.chartValue).dataLabels"
                                [legend]="getChartOptions(recruiter.chartValue).legend"
                                [tooltip]="getChartOptions(recruiter.chartValue).tooltip"
                                [states]="getChartOptions(recruiter.chartValue).states"
                                [responsive]="getChartOptions(recruiter.chartValue).responsive">
                            </apx-chart>
                            <div class="absolute left-0 right-0 bottom-8 grid justify-center  text-xs font-normal">
                                <span class="text-gray-800 font-semibold text-center">{{ recruiter.chartValue }}%</span>
                                <label class="whitespace-nowrap text-center text-gray-400">Job Closed</label>
                            </div>
                        </div>
                    </div>
                    <div class="w-3/4">
                        <h3 class="text-[#101828] text-base font-semibold">{{ recruiter.name }}</h3>
                        <p class="text-gray-500 text-sm font-medium">{{ recruiter.email }}</p>
                        <div class="flex place-items-center gap-4">
                            <h4 class="text-gray-600 text-lg font-bold">{{ recruiter.metrics.requirementsAllocated }}
                            </h4>
                            <p class="text-gray-600 text-sm font-normal">Requirements Allocated</p>
                        </div>
                        <div class="flex place-items-center gap-4">
                            <h4 class="text-gray-600 text-lg font-bold">{{ recruiter.metrics.jobsPosted }}</h4>
                            <p class="text-gray-600 text-sm font-normal">Jobs Posted</p>
                        </div>
                        <div class="flex place-items-center gap-4">
                            <h4 class="text-gray-600 text-lg font-bold">{{ recruiter.metrics.candidatesSourced }}</h4>
                            <p class="text-gray-600 text-sm font-normal">Candidates Sourced</p>
                        </div>
                        <div class="flex place-items-center gap-4">
                            <h4 class="text-gray-600 text-lg font-bold">{{ recruiter.metrics.positionsClosed }}</h4>
                            <p class="text-gray-600 text-sm font-normal">Positions Closed</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div *ngIf="selectedPeriod === 'Active Requirements (23)'" class="mt-2.5 grid grid-cols-1 md:grid-cols-2 gap-4">
            <div *ngFor="let req of activeRequirements"
                class="p-3 rounded-lg shadow-metric hover:shadow-2xl bg-white transition ease-in-out delay-150 duration-300">
                <div class="flex gap-3 cursor-pointer">
                    <div class="w-1/4">
                        <div class="grid justify-center">
                            <mat-icon class="activeRequirementIcon">{{ req.icon }}</mat-icon>
                        </div>
                        <div class="grid justify-center pt-1.5 relative" id="chart">
                            <apx-chart [series]="req.chartOptions.series" [chart]="req.chartOptions.chart"
                                [plotOptions]="req.chartOptions.plotOptions" [fill]="req.chartOptions.fill"
                                [colors]="req.chartOptions.colors" [dataLabels]="req.chartOptions.dataLabels"
                                [legend]="req.chartOptions.legend" [tooltip]="req.chartOptions.tooltip"
                                [states]="req.chartOptions.states" [responsive]="req.chartOptions.responsive">
                            </apx-chart>
                            <div class="absolute left-0 right-0 bottom-8 grid justify-center text-xs font-normal">
                                <span class="text-gray-800 font-semibold text-center">{{ req.positionClosed }}%</span>
                                <label class="whitespace-nowrap text-center text-gray-400">Position Closed</label>
                            </div>
                        </div>
                    </div>
                    <div class="w-3/4">
                        <h3 class="text-[#101828] text-base font-semibold">{{ req.title }}</h3>
                        <div class="flex place-items-center gap-4">
                            <h4 class="text-gray-600 text-lg font-bold">{{ req.required }}</h4>
                            <p class="text-gray-600 text-sm font-normal">Candidate Required</p>
                        </div>
                        <div class="flex place-items-center gap-4">
                            <h4 class="text-gray-600 text-lg font-bold">{{ req.offered }}</h4>
                            <p class="text-gray-600 text-sm font-normal">Candidate Offered</p>
                        </div>
                        <div class="flex place-items-center gap-4">
                            <h4 class="text-gray-600 text-lg font-bold">{{ req.open }}</h4>
                            <p class="text-gray-600 text-sm font-normal">Candidate Open</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div *ngIf="selectedPeriod === 'Team Matrix'"
        class="mt-2.5 p-3 rounded-lg shadow-metric hover:shadow-2xl bg-white transition ease-in-out delay-150 duration-300">
    </div>
</section>

<!-- 
x=> 16444
y=> 15733

w=> 1440
h=> 1024
-->