<!-- <div class="grid justify-center place-content-center h-[100vh] p-3">
    <mat-card class="md:w-full">
      <div mat-dialog-title class="bg-[#D7E3FF] flex place-content-center pb-2 text-lg font-medium mb-10 rounded-t-lg">
        <mat-card-header>
          <mat-icon>person</mat-icon>
          Recuriter Forgot Password
        </mat-card-header>
      </div>
      <form [formGroup]="loginForm" (ngSubmit)="onFormSubmit()">
        <mat-card-content>
          <div class="">
            <mat-form-field>
              <mat-label>Email</mat-label>
              <input matInput formControlName="email" />
            </mat-form-field>
            <mat-form-field>
              <mat-label>Password</mat-label>
              <input matInput [type]="showPassword ? 'text' : 'password'" formControlName="password" />
              <button class="relative" (click)="togglePasswordVisibility()">
                <span class="absolute right-0 bottom-0 -top-5">
                  <mat-icon>{{ showPassword ? 'visibility_off' : 'visibility' }}</mat-icon>
                </span>
              </button>
            </mat-form-field>
          </div>
        </mat-card-content>
        <mat-card-actions>
          <div class="flex flex-wrap justify-between gap-2">
            <div class="flex justify-between gap-2">
              <div>
                <button type="submit" [disabled]="!this.loginForm.valid" mat-flat-button color="primary">Forgot Password</button>
              </div>
              <div>
                <a routerLink="/recuriter/signup" class="whitespace-nowrap" mat-flat-button
                  style="background-color: #d7e3ff; color: black;">Sign Up</a>
              </div>
            </div>
            <div routerLink="/recuriter/forgot-password" class="p-2 md:ml-32 cursor-pointer">
              <a class="text-blue-500 hover:underline">forgot password ?</a>
            </div>
          </div>
        </mat-card-actions>
      </form>
    </mat-card>
  </div> -->

<section class="grid grid-cols-1 md:grid-cols-2">
  <div>
    <app-recuriter-login-side-image [imageText]="imageText" />
  </div>

  <form [formGroup]="forgetPassword" class="p-5 py-20 md:py-10 md:p-14">
    <div class="grid gap-4">
      <h1 class="bg-gradient-to-r from-blue-500 to-green-500 bg-clip-text text-transparent text-2xl font-bold">
        Job Portal Logo
      </h1>
      <div class="">
        <h1 class="text-gray-800 text-lg font-semibold">
          Forget Password
        </h1>
        <p class="text-gray-400 text-sm md:text-base font-normal">Enter email for password reset. Verify OTP and reset
          password.</p>
      </div>
      <div class="">
        <label for="email" class="text-sm md:text-base font-medium text-gray-600">Email Id</label>
        <input id="email" formControlName="email" type="email" placeholder="eg: example@gmail.com"
          class="w-full rounded-lg border-2 border-gray-200 focus:outline-none px-3 py-2 text-gray-600 text-sm md:text-base font-normal">
        <div *ngIf="forgetPassword.get('email')?.touched && forgetPassword.get('email')?.invalid"
          class="text-red-500 text-sm">
          <div *ngIf="forgetPassword.get('email')?.errors?.['required']">Email is required.</div>
          <div *ngIf="forgetPassword.get('email')?.errors?.['email']">Invalid email format.</div>
        </div>
      </div>
      <div>
        <button [ngClass]="{'bg-green-600': forgetPassword.valid,'bg-gray-400': forgetPassword.invalid}"
          (click)="onFormSubmit()"
          class="py-1.5 text-white text-sm md:text-base font-normal w-full rounded-lg shadow hover:shadow-md"
          type="submit">Send OTP Code</button>
      </div>
      <div class="flex items-center gap-3">
        <mat-icon class="text-blue-900">info_outline</mat-icon>
        <p class="text-gray-500 text-sm md:text-base font-normal">You'll receive a otp code on the email you've registered.</p>
      </div>
    </div>
  </form>
</section>