<section>
    <div class="flex-none justify-normal md:flex md:justify-between p-4">
        <div class="">
            <div class="flex justify-center relative">
                <img class="rounded-full h-40 w-40" src="assets/profile/profile_image.png" alt="Profile Image">
                <!-- <div class="absolute right-0 bottom-0">
                    <button class="bg-gray-200 shadow-lg hover:shadow-sm" mat-icon-button>
                        <mat-icon>add</mat-icon>
                    </button>
                </div> -->
            </div>
        </div>
        <div class="flex flex-col md:items-end md:justify-end md:flex-col-reverse pt-5 md:pt-0">
            <div class="flex justify-between items-center w-full md:block">
                <div class="flex flex-col">
                    <div class="flex items-center gap-2">
                        <mat-icon class="text-[#0094FF] order-2 md:order-none">verified</mat-icon>
                        <h1 class="text-base md:text-xl font-semibold text-gray-700 order-1 md:order-none capitalize">
                            Muhammad
                            zamin</h1>
                    </div>
                    <div>
                        <div class="flex items-center md:justify-end gap-2">
                            <mat-icon class="text-gray-600 order-2 md:order-none">mail_outline</mat-icon>
                            <h1 class="text-base md:text-lg font-medium text-gray-600 order-1 md:order-none">
                                mdzamin&#64;gmail.com
                            </h1>
                        </div>
                        <div class="flex items-center md:justify-end gap-2">
                            <mat-icon class="text-gray-600 order-2 md:order-none">call_outline</mat-icon>
                            <h1 class="text-base md:text-lg font-medium text-gray-600 order-1 md:order-none">8059340597
                            </h1>
                        </div>
                    </div>
                    <p class="text-sm font-normal text-left md:text-right mt-1">
                        <span class="text-base font-semibold">60%</span> Profile Status
                    </p>
                </div>
                <!-- Icons (mobile only) -->
                <div class="flex gap-3 md:hidden">
                    <mat-icon class="text-gray-600 cursor-pointer custom-badge-green" matBadge="1" matBadgeSize="small"
                        matBadgePosition="below after">
                        work_outline
                    </mat-icon>
                    <mat-icon (click)="handelEditAction($event)" class="text-gray-600 cursor-pointer">edit</mat-icon>
                </div>
            </div>
            <!-- Icons (desktop only) -->
            <div class="hidden md:flex justify-end gap-3 mb-2">
                <mat-icon class="text-gray-600 cursor-pointer custom-badge-green" matBadge="1" matBadgeSize="small"
                    matBadgePosition="below after">
                    work_outline
                </mat-icon>
                <mat-icon  (click)="handelEditAction($event)" class="text-gray-600 cursor-pointer">edit</mat-icon>
            </div>
        </div>

    </div>
</section>