<section>
    <div class="p-4">
        <div class="flex justify-between gap-4">
            <div class="flex items-center gap-3">
                <mat-icon class="text-[#21A14B]">work_history_outline</mat-icon>
                <h1 class="text-base md:text-lg font-semibold">Experience (1)</h1>
            </div>
            <div class="flex gap-3 text-gray-600">
                <mat-icon matTooltip="Add Prefrence" class="cursor-pointer">add</mat-icon>
                <mat-icon matTooltip="Edit Prefrence" class="cursor-pointer">edit</mat-icon>
            </div>
        </div>
        <div class="flex gap-3 pt-3">
            <div class="grid justify-center place-items-center bg-gray-200 rounded-lg p-2 md:px-3 h-10 md:h-12">
                <p class="text-gray-600 text-base md:text-lg font-semibold md:font-bold">AD</p>
            </div>
            <div>
                <h3 class="text-sm md:text-base font-semibold md:font-bold text-gray-800">Androide Developer</h3>
                <div class="text-gray-600 text-sm md:text-base font-normal">
                    <p class="">Fourbrick Technologies</p>
                    <p class="">IT & Consultancy</p>
                    <p class="">Oct 2020 - Apr 2020 4 Months</p>
                </div>
            </div>
        </div>
    </div>
</section>